body { margin: 5; font-family:arial,sans-serif;}
td{font-family:arial,sans-serif;FONT-SIZE: 10pt;}
.small
{
   font-family : Arial, Tahoma, Helvetica, sans-serif;
   FONT-SIZE: 8pt;
}
TH {
	background: #8999e4;
	FONT-FAMILY: arial,sans-serif;
	font-weight : bold;
	 FONT-SIZE: 9pt;
}
A.large
{
        COLOR: #3366cc;
        FONT-FAMILY: arial,sans-serif;
        TEXT-DECORATION: none;
        FONT-SIZE: 11pt;
        MARGIN:0 0 0pt 0pt;
        font-weight : bold;
}
A.large:hover
{
        COLOR: red;
        FONT-FAMILY: arial,sans-serif;
        TEXT-DECORATION: none;
        FONT-SIZE: 11pt;
        MARGIN:0 0 0pt 0pt;
        font-weight : bold;
}
.th { background: #939393 }
.tm { background: #603495; }
.ts { background: #E7E9F2; }
.tg { background: #CED3E5; }
.tw { background: #FFFFFF; }
.tb { background: #000000; }
.tl { background: #9966CC; }
.twc { background: #FFFFEE; }
.ttabs { background-image: url(./images/site_head_03.gif); width: 100% }
.row { background: #eeeeee; }
.et { color: #351270; }
.ethls { font: bold 10pt sans-serif; color: #351270; }
.date { font: bold 9pt sans-serif; color: #ffffff; }
.header{ font: bold 14pt arial,sans-serif; }


A.help 
{
        color: blue; 
        font-weight: normal;
        FONT-FAMILY: arial,sans-serif;
        text-decoration: none;
        font-size: 10pt;
}
A.help:hover 
{
        color: blue; 
        font-weight: normal;
        font-style: normal;
        text-decoration: underline;
        FONT-FAMILY: arial,sans-serif;
        font-size: 10pt;
}
A.hlelp:visited 
{
        color: blue; 
        font-weight: normal;
        font-style: italic;
        font-variant: small-caps;
        text-decoration: underline;
        FONT-FAMILY: arial,sans-serif;
        font-size: 10pt;
}
A.logout
{
        COLOR: #ffffff;
        FONT-FAMILY: arial,sans-serif;
        TEXT-DECORATION: none;
        FONT-SIZE: 10pt;
        MARGIN:0 0 0pt 0pt;
        font-weight : bold;
}
A.left_menu:link
{
        COLOR: white;
        FONT-FAMILY: arial, verdana,sans-serif;
        FONT-SIZE: 10pt;
        TEXT-DECORATION: none;
        MARGIN:0 0 0pt 0pt;
        font-weight : bold;
}
A.left_menu:visited
{
        COLOR: white;
        FONT-FAMILY: arial,verdana,sans-serif;
        TEXT-DECORATION: none;
        FONT-SIZE: 10pt;
        MARGIN:0 0 0pt 0pt;
        font-weight : bold;
}
A.left_menu:hover
{
        COLOR: red;
        FONT-FAMILY: arial,verdana,sans-serif;
        FONT-SIZE: 10pt;
        TEXT-DECORATION: none;
	MARGIN:0 0 0pt 0pt;
        font-weight : bold;
}
A.button:link
{
        COLOR: #000099;
        FONT-FAMILY: verdana,sans-serif;
        FONT-SIZE: 10pt;
        TEXT-DECORATION: none;
        MARGIN:0 0 0pt 0pt;

}
A.button:visited
{
        COLOR: #000099;
        FONT-FAMILY: verdana,sans-serif;
        TEXT-DECORATION: none;
        FONT-SIZE: 10pt;
        MARGIN:0 0 0pt 0pt;

}
A.button:hover
{
        COLOR: red;
        FONT-FAMILY: verdana,sans-serif;
        FONT-SIZE: 10pt;
        TEXT-DECORATION: none;
		MARGIN:0 0 0pt 0pt;
}
A.tipButton:link
{
        COLOR: #000099;
        FONT-FAMILY: verdana,sans-serif;
        FONT-SIZE: 10pt;
        TEXT-DECORATION: none;
        MARGIN:0 0 0pt 0pt;

}
A.tipButton:visited
{
        COLOR: #000099;
        FONT-FAMILY: verdana,sans-serif;
        TEXT-DECORATION: none;
        FONT-SIZE: 10pt;
        MARGIN:0 0 0pt 0pt;

}
A.tipButton:hover
{
        COLOR: red;
        FONT-FAMILY: verdana,sans-serif;
        FONT-SIZE: 10pt;
        TEXT-DECORATION: none;
		MARGIN:0 0 0pt 0pt;
}
.maintext
{
   font-family : Arial, Tahoma, Helvetica, sans-serif;
   FONT-SIZE: 8pt;
}
.maintext
{
   font-family : Arial, Tahoma, Helvetica, sans-serif;
   FONT-SIZE: 10pt;
}
.gray_but   
{
	background-color: silver;
	font-family: Arial;
	FONT-SIZE: 8pt;
	COLOR: white;
	font-weight : bold;
	border-style: solid;
	border-color : #383838;
	background : Silver;
}
.tooltip { position: absolute; display: none; left: 300; top: 20; }

.TPPentryhead	{
	background: #0e207f;
	border: 1px solid #0e207f;
	color: #eeeeee;
	font-weight:bold;
	font-size: 14px;
}
.TPPentry	{
	background: #eeeeee;
	border: 1px solid #0e207f;
	color: black;
	padding: 1em;
}
#dir_tree{
	margin-left:0px;
	padding-left:0px;
}
#dir_tree_topNodes{
	margin-left:0px;
	padding-left:0px;
}
#dir_tree_topNodes ul{
	margin-left:20px;
	padding-left:0px;
}
#dir_tree li .tree_link{
	line-height:13px;
	padding-left:2px;
}
#dir_tree li img{
	padding-top:2px;
}
#dir_tree li{
	list-style-type:none;	
	font-family: arial;
	font-size:13px;
}  
#dir_tree li a{
	color: #000000;
	text-decoration:none;
}  
.dir_tree_text {
  color: black;
  background-color: #d1d1d1;
  font-family: arial;
  font-size:10px;
}
.dir_tree_text_lite {
  color: black;
  background-color: yellow;
  font-family: arial;
}
.pop_header_text{
   font-family : Lucida Calligraphy;
   FONT-SIZE: 16pt;
}
.divBoxPop{border-radius: 0.5em; background-color:white; margin: 8 3;  padding: 4px 8px; width: 90%}

.contents{
	color:#808040;
  display: none;
  padding: 10px 5px 10px 5px;
  border:#708090 0px solid; 
  border-radius: 0.5em;
  background-color: white;
  margin-top:5px;
  margin-right:10px;
  margin-left:10px;
}
.title{
  float: left;
  padding: 5px 5px 5px 5px;
  border:black 0px solid;  
  min-width: 730px; 
  border-radius: 0.5em;
  background-color: white;
  margin-top:5px;
  margin-right:10px;
  margin-left:10px;
  background-color: #ccffff;
}
.act_box{
  float: left;
  padding: 5px 5px 5px 5px;
  border: #708090 1px solid; 
  min-width: 730px;
  background-color: #acc0d5;
  margin-top:5px;
  margin-right:10px;
  margin-left:10px;
}

.title-bar{
  float: left;
  padding: 5px 5px 5px 5px;
  border: #708090 0px solid; 
  min-width: 730px;
  color: white;
  margin-top:5px;
  margin-right:10px;
  margin-left:10px;
}
